.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 40px 20px;
  text-align: center;
  position: relative;
}

/* Centraliza a imagem caso o container precise */
.logoContainer {
  margin: 40px 0 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Controle o tamanho da logo aqui */
.logoImage {
  width: 250px;
  height: auto; 
  display: block;
}
