.tabsContainer {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: var(--bg-body);
  gap: 8px;
  padding: 12px 15px 0 15px; 
  scrollbar-width: none; 
  -webkit-overflow-scrolling: touch;
  justify-content: flex-start; 
}

@media (min-width: 768px) {
  .tabsContainer {
    justify-content: center;
  }
}

.tabsContainer::-webkit-scrollbar {
  display: none; 
}

.tabButton {
  padding: 12px 24px;
  border: none;
  background-color: var(--bg-tabs-track);
  color: var(--text-secondary);
  font-family: var(--font-ui);
  font-size: 0.85rem;
  font-weight: 500;
  border-radius: 12px 12px 0 0;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
  flex-shrink: 0; 
  box-shadow:inset 0px -5px 5px 0px #00000014; 
}

.tabButton.active {
  background-color: var(--bg-paper);
  color: var(--text-primary);
  box-shadow: 0px 10px 5px 8px #00000014; 
  font-weight: 600;
  z-index: 2;
}